html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-image: url("../public/static/images/background.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  text-align: center;
  font-family: "Share Tech", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* HEADER */

.header {
  width: 100vw;
}

.header-image {
  display: inline-block;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

/* GAME DESCRIPTION */

.game-description {
  height: 234px; /* Actual height of the image */
  margin-top: 10vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-description-bg {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
}

.game-description-text {
  width: 75%;
  max-width: 1000px;
  text-align: left;
}

/* TRAILER SECTION */

.game-trailer {
  height: 684px; /* Actual height of the image */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-trailer-bg {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
}

.game-trailer-text {
  margin: 5%;
}

/* CHARACTER SECTION */

.joyce-character {
  background-image: url("../public/static/images/joyceCharacter.png");
  height: 538px;
  width: 1172px;
}

.mei-character {
  background-image: url("../public/static/images/meiCharacter.png");
  height: 538px;
  width: 1172px;
}

.merc-character {
  background-image: url("../public/static/images/mercCharacter.png");
  height: 538px;
  width: 1172px;
}

.takashi-character {
  background-image: url("../public/static/images/takashiCharacter.png");
  height: 538px;
  width: 1172px;
}

/* FOOTER */

.footer {
  margin-top: 15vh;
  background-color: white;
  color: black;
  height: 500px;
}

.footer-top {
  position: relative;
  height: 251px;
  width: 100vw;
  background-image: url("../public/static/images/footerTop.png");
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.footer-top-text {
  width: 75%;
  max-width: 1000px;
  text-align: left;
}
