@import url("https://fonts.googleapis.com/css2?family=Share+Tech&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Share Tech", sans-serif;
  background-image: url("../public/static/images/background.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  text-align: center;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ul li {
  /* Bullet color */
  color: white;
  list-style-type: disc;
  font-size: 22px;
  line-height: 40px;
}

/* HEADER */

.header {
  width: 100vw;
  height: auto;
}

.header-image {
  display: inline-block;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

/* GAME DESCRIPTION */

.game-description {
  height: 234px; /* Actual height of the image */
  margin-top: 10vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-description-bg {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
}

.game-description-text {
  width: 75%;
  max-width: 1000px;
  text-align: center;
}

/* TRAILER SECTION */

.game-trailer {
  height: 684px; /* Actual height of the image */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-trailer-bg {
  background-image: url("../public/static/images/gameTrailerBG.png");
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
}

.game-trailer-text {
  margin: 5%;
}

.trailer-video {
  z-index: 100;
  width: 90vw;
  text-align: center;
}

/* CHARACTER SECTION */

.joyce-character {
  background-image: url("../public/static/images/joyceCharacter.png");
  height: 538px;
  width: 1172px;
}

.mei-character {
  background-image: url("../public/static/images/meiCharacter.png");
  height: 538px;
  width: 1172px;
}

.merc-character {
  background-image: url("../public/static/images/mercCharacter.png");
  height: 538px;
  width: 1172px;
}

.takashi-character {
  background-image: url("../public/static/images/takashiCharacter.png");
  height: 538px;
  width: 1172px;
}

/* BUTTONS SECTION */
.buttons-section {
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
  max-width: 1200px;

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-item {
  width: 100%;
}

.button-item:hover {
  opacity: 0.5;
}

/* FOOTER */

.footer {
  margin-top: 5vh;
  background-color: white;
  color: black;
  height: 20vh;
}

.footer-top {
  position: absolute;
  height: 251px;
  width: 100vw;
  background-image: url("../public/static/images/footerTop.png");
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.footer-top-text {
  width: 75%;
  max-width: 1000px;
  text-align: left;
}

.footer-img {
  width: 100vw;
}

.footer-logo-img {
  width: 25vw;
  margin: auto;
  padding-top: 3%;
  padding-bottom: 3%;
}

.social-media-icon {
  display: inline-block;
  padding: 1%;
}

.logo-section {
  background-color: white;
  text-align: center;
}

.keep-in-touch {
  font-size: 3vh;
  vertical-align: middle;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
