html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: black;
  text-align: center;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* HEADER */

.header {
  background-image: linear-gradient(#b2bff0, #c9bad2, #000000);
  text-align: center;
}

.header-image {
  display: inline-block;
  max-width: 1200px;
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
}

/* GAME DESCRIPTION */

.game-description {
  height: 234px; /* Actual height of the image */
  margin-top: 10vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-description-bg {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
}

.game-description-text {
  width: 75%;
  max-width: 1000px;
  text-align: left;
}

/* TRAILER SECTION */

.game-trailer {
  height: 684px; /* Actual height of the image */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-trailer-bg {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
}

.game-trailer-text {
  margin: 5%;
}